@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

:root {
    --bg-color: #F1F0EB;
    --main-blue: #4071CB;
    --main-black: #000;
    --main-white: #fff;
    --main-gray: #4F4F4F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Unbounded", sans-serif;
    color: var(--main-black);
    outline: none;
    user-select: none;
}

img {
    pointer-events: none;
}

body {
    background: var(--bg-color);
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.container {
    max-width: 1370px;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.row {
    width: 100%;
    height: 100%;
    display: flex;
}

::-webkit-scrollbar {
    width: 10px;
    background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
    background: var(--main-blue);
    border-radius: 10px;
}

.all-title {
    font-size: calc(20px + 10 * (100vw / 1920));
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

@media (min-width: 1920px) {
    .all-title {
        font-size: 30px !important;
    }
}

.swiper-button-prev, .swiper-button-next {
    color: var(--main-black) !important;
    background: var(--main-white);
    border-radius: 10px;
    overflow: hidden;
    font-weight: 700;
    width: 30px !important; 
    height: 35px !important;
    transition: .3s;

    &::after {
        font-size: 15px !important;
    }

    &:hover {
        color: var(--main-white) !important;
        background: var(--main-blue);
    }
}

.all-btn {
    width: 100%;
    background: transparent;
    border-radius: 8px;
    border: solid 2px var(--main-black);
    padding: 14.5px 0;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    transition: .3s;

    &:hover, &:active {
        color: var(--main-white);
        background: var(--main-black);
    }
}